body {
  padding: 0;
  margin: 0;
}

.main {
position: relative;
font-family: 'Poppins', sans-serif;
}

/* navbar CSS */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: rgb(255, 234, 206);
  /* border-bottom: 1px solid black; */
}
.nav-a {
  text-decoration: none;
  color: rgb(10, 10, 10);
  font-size: 18px;
  padding: 20px 60px 20px 60px;
}
.nav-a:hover {
  text-decoration: underline;
  color: black;
  font-size: 18px;
}
.search-bar{
  display: flex;
  align-items: center;
  text-align: center;
  height: 40px;
  border-radius: 8px;
  border: 1px solid white;
}
.search-input{
  display: flex;
  align-items: center;
  text-align: center;
  height: 40px;
  width: 600px;
  padding: 0 80px 0 80px;
  border-radius: 8px;
  border: 1px solid white;
}
a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}

/* question list CSS */
.question-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: auto;
  padding: 60px;
}
.question-header {
  display: flex;
  justify-content: center;
}
.question-content {
  padding-top: 20px;
}
.question-list-item {
  display: flex;
  padding-bottom: 40px;
}
.q-title {
  display: flex;
  justify-content: flex-start;
  justify-content: center;
  /* border-bottom: 1px solid black; */
}
.question-body {
  background-color: rgb(255, 234, 206);
  border: 1px solid transparent;
  padding: 12px 24px 24px 24px;
  border-radius: 12px;
}
.question-description {
  padding: 12px 12px 24px 12px;
}
.code-snippet {
  border: 1px solid black;
  padding: 40px;
  background-color: white;
  border-radius: 12px;
  font-family: 'roboto mono' , monospace;
}
